* {
    font-family: 'Playfair Display', serif;
}

body {
    background: rgba(208,228,245,0.31) url("http://htmlcheatsheet.com/images/logo-css.png") no-repeat scroll -50px -50px;
font-size: 18px;
Line-height: 34px;
font-family: 'Ariel', 'helvetica Neue', Helvetica, sans-serif; 
color: #777;
}
